{deps_dir, ["./deps"]}.
{deps, [
	{ranch, ".*", {git, "https://github.com/extend/ranch"}},
	{gproc, ".*", {git, "https://github.com/esl/gproc"}},
    {couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam"}},
    {meck, ".*", {git, "https://github.com/eproxus/meck"}}
]}.
{sub_dirs, ["./apps/*"]}.
{lib_dirs, ["./apps", "./deps"]}.
