{deps_dir, ["./deps"]}.
{deps, [
	{ranch, ".*", {git, "https://github.com/extend/ranch"}},
    	{couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam"}},
	{meck, ".*", {git, "https://github.com/eproxus/meck"}},
	{lager, ".*", {git, "https://github.com/basho/lager"}},
	{folsom, ".*", {git, "https://github.com/boundary/folsom"}},
        {gproc, ".*", {git, "https://github.com/esl/gproc"}},
	{gen_smtp, ".*", {git, "https://github.com/vagabond/gen_smtp"}},
	{erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl"}}
]}.
{sub_dirs, ["./apps/*", "./release/"]}.
{lib_dirs, ["./apps", "./deps"]}.
{eunit_opts, [
	verbose
]}.
