{deps_dir, ["./deps"]}.
{deps, [
	{ranch, ".*", {git, "https://github.com/extend/ranch"}},
    	{couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam"}},
	{meck, ".*", {git, "https://github.com/eproxus/meck"}},
	{lager, ".*", {git, "https://github.com/basho/lager"}},
	{folsom, ".*", {git, "https://github.com/boundary/folsom.git"}}
]}.
{sub_dirs, ["./apps/*", "./release/"]}.
{lib_dirs, ["./apps", "./deps"]}.
