[
	{game_server, [
		{port, 7891},
		{ping_interval_sec, 1},
		{max_pings_allowed, 3}
	]},
	{lager, [
		{colored, true},
		{handlers, [
			{lager_console_backend, debug},
			{lager_file_backend, [{file, "log/error.log"}, {level, error}]},
			{lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
		]}
	]}
].
