[
 %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},

 %% Database config
  {database, [
    {backend, couchdb_backend},
    {backend_config, [
      {host, "http://localhost:5984"},
      {dbname, "battleship"}
    ]}
  ]},

 %% Network server configuration
  {game_server, [
    {port, 7890},
    {ping_interval_sec, 1},
    {max_pings_allowed, 3}
  ]},

 %% Logging configuration
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, 'debug'},
      {lager_file_backend, [{file, "log/error.log"}, {level, 'error'}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, '<=warning'}]}
    ]}
  ]}
].

