[
 %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},

 %% Database config
  {database, [
    {backend, couchdb_backend},
    {backend_config, [
      {host, "http://localhost:5984"},
      {dbname, "battleship"}
    ]}
  ]},

  {game_lobby, [
    {game_reconnect_timeout_sec, 20}
  ]},
 
  {notifications, [
    {handlers, [
      {smtp_notification_handler, [
        {smtp, [
          {username, "battleship@etcpasswd.ru"},
          {password, "b@ttleship"},
          {relay, "smtp.yandex.ru"}
        ]},
        {from_field, "Battleship notification service"},
        {email_type, "plain"}
      ]}
    ]}
  ]},
 %% Network server configuration
  {game_server, [
    {server_status, [
        {supported_vsn, 1}
    ]},
    {profile, database},
    {port, 7891},
    {ping_interval_sec, 5},
    {max_pings_allowed, 3},
    {password_reset_timeout, 3600}
  ]},

 %% Logging configuration
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, 'debug'},
      {lager_file_backend, [{file, "./log/error.log"}, {level, 'error'}]},
      {lager_file_backend, [{file, "./log/info.log"}, {level, '<=warning'}]}
    ]}
  ]},

 %% Metrics accounting configuration
  {metrics_colletor, [
    {metrics_update_interval, 60},
    {metrics_path, "./metrics/"},
    {metrics_tags, [
      {database, "database"},
      {game_lobby, "game_lobby"},
      {game_server, "game_server"}
    ]}
  ]}
].

